h1{
	text-align: center;
	color: white;
	margin-top: 150px;
	font-family: sans-serif;
	font-size: 100px;
	text-shadow: 2px 2px black;
}

p{
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 85px;
	margin-top: 125px;
	text-shadow: 2px 2px black;
}
